@font-face {
    font-family: 'Bellota-LightItalic';
    src: url('../fonts/Bellota-LightItalic.ttf');
}

@font-face {
    font-family: 'Bellota-BoldItalic';
    src: url('../fonts/Bellota-BoldItalic.ttf');
}

body {
    line-height: 17px;
    background-color: #E8E8E8;
}

.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 43px;
    background-color: #20aae5;
    border-bottom: 0.25em solid #1849ca;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}

.logo a {
    font-family: 'Bellota-BoldItalic', sans-serif;
    margin-left: 10px;
    font-size: 30;
    position: relative;
    top: 9px;
    text-shadow: #000 0.5px 0.5px 0px;
    color: #1e3b4e;
    text-decoration: none;
}

.logo a:hover {
    font-size: 32;
}

nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a {
    position: relative;
    color: #fff;
    font-size: 17px;
}

nav a:hover {
    padding-bottom: 3px;
    text-decoration: none;
    border-bottom: 5px solid #e67e22;
    color: #fff;
}

.wrapper {
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.column {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #D3D3D3;
    z-index: -1;
}

/*.user_details {
    width: 250px;
    float: left;
    margin-bottom: 20px;
    
}

.user_details_column_interior {
    width: 125px;
    display: inline-block;
    position: absolute;
    
}*/

.user_details {
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: absolute;
}

.user_details_column_interior {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user_details_column_interior p {
    margin: 0;
}

.user_details img {
    height: 125px;
    border-radius: 5px;
    margin-right: 5px;
}

.main_column {
    float: right;
    width: 70%;
    z-index: -1;
    min-height: 60px;
}

.post_form {
    width: 100%;
}

.post_form textarea {
    width: 81%;
    height: 60px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid #D3D3D3;
    padding: 5px;
}

textarea:focus {
    outline: 0px none transparent;
}

.post_form input[type="submit"] {
    width: 11%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #20aae5;
    font-family: 'Bellota-BoldItalic', sans-serif;
    color: #1e3b4e;
    text-shadow: #000 0.5px 0.5px 0px;
    font-size: 1.6em;
    position: absolute;
    outline: 0;
    margin: 0;
}

.post_form input[type="submit"]:active {
    padding: 10px 8px 8px 10px;
}


























