@font-face {
    font-family: 'Bellota-LightItalic';
    src: url('../fonts/Bellota-LightItalic.ttf');
}

@font-face {
    font-family: 'Bellota-BoldItalic';
    src: url('../fonts/Bellota-BoldItalic.ttf');
}

body {
    line-height: 17px;
    background-color: #E8E8E8;
}

a {
    color: #20AAE5;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}
    


.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 43px;
    background-color: #20aae5;
    border-bottom: 0.25em solid #1849ca;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}

.logo a {
    font-family: 'Bellota-BoldItalic', sans-serif;
    margin-left: 10px;
    font-size: 30;
    position: relative;
    top: 9px;
    text-shadow: #000 0.5px 0.5px 0px;
    color: #1e3b4e;
    text-decoration: none;
}

.logo a:hover {
    font-size: 32;
}

nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a {
    position: relative;
    color: #fff;
    font-size: 17px;
}

nav a:hover {
    padding-bottom: 3px;
    text-decoration: none;
    border-bottom: 5px solid #e67e22;
    color: #fff;
}

.wrapper {
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.column {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #D3D3D3;
    z-index: -1;
}

/*.user_details {
    width: 250px;
    float: left;
    margin-bottom: 20px;
    
}

.user_details_column_interior {
    width: 125px;
    display: inline-block;
    position: absolute;
    
}*/

.user_details {
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: absolute;
    z-index: 1;
}

.user_details_column_interior {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user_details_column_interior p {
    margin: 0;
}

.user_details img {
    height: 125px;
    border-radius: 5px;
    margin-right: 5px;
}

.main_column {
    float: right;
    width: 70%;
    z-index: -1;
    min-height: 60px;
}

.post_form {
    width: 100%;
}

.post_form textarea {
    width: 81%;
    height: 60px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid #D3D3D3;
    padding: 5px;
}

textarea:focus {
    outline: 0px none transparent;
}

.post_form input[type="submit"] {
    width: 11%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #20aae5;
    font-family: 'Bellota-BoldItalic', sans-serif;
    color: #1e3b4e;
    text-shadow: #000 0.5px 0.5px 0px;
    font-size: 1.6em;
    position: absolute;
    outline: 0;
    margin: 0;
}

.post_form input[type="submit"]:active {
    padding: 10px 8px 8px 10px;
}

.posted_by {
    color: #ACACAC;
}

.status_post {
    width: 96%;
    font-size: 15px;
    padding: 0 5px;
    min-height: 75px;
    cursor: pointer;
}

.post_profile_pic {
    float: left;
    margin-right: 7px;
}

.post_profile_pic img {
    border-radius: 5px;
}

.time_posted {
    float: right;
}

.no_more_posts {
    text-align: center;
}

.comment_image {
    float: left;
    height: 30px;
    margin: 0 3px 3px 3px;
    border-radius: 3px;
}

.comment_posted_by {
    font-weight: bold;
}

#comment_iframe {
    margin-top: .5em;
    max-height: 250px;
    width: 100%;
}

.comment_section {
    padding: 0 5px 5px 5px;
}

.comment_section_time {
    display: inline;
}

.comment_section_body {
    margin: 0;
}

#comment_form textarea {
    border-color: #D3D3D3;
    width: 85%;
    height: 35px;
    border-radius: 5px;
    color: #616060;
    font-size: 14px;
    margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
    border: none;
    background-color: #20AAE5;
    color: #1e3b4e;
    text-shadow: #000 0.5px 0.5px 0px;
    border-radius: 5px;
    width: 12%;
    height: 35px;
    margin-top: 3px;
    position: absolute;
    font-family: 'Bellota-BoldItalic', sans-serif;
    font-size: 16px;
}

.no_post_comments {
    text-align: center;
}

.newsfeedPostOptions {
    padding: 0;
    text-decoration: none;
    border: none;
    margin-top: 1.5em;
    color: #20AAE5;
}

.likes_iframe {
    border: none;
    height: 30px;
    width: 120px;
    
}

.comment_like {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #20aae5;
    padding: 0;
    height: auto;
    width: auto;
    margin: 0;
    outline:none;
}

.like_value {
    display: inline;
    font-size: 14px;
}

.likes_body {
    background-color: #fff;
    font-family: Arial, Helvetica, Sans-serif;
}

.profile_left {
    top: -10px;
    width: 17%;
    max-width: 240px;
    min-width: 130px;
    height: 100%;
    float: left;
    position: relative;
    background-color: #20AAE5;
    border-right: 10px solid #83d6fe;
    color: #fff;
    margin-right: 20px;
}












































